src/bin/Debug/netcoreapp3.1/app.db
src/bin/Debug/netcoreapp3.1/appsettings.Development.json
src/bin/Debug/netcoreapp3.1/appsettings.json
src/bin/Debug/netcoreapp3.1/BlazorApp.deps.json
src/bin/Debug/netcoreapp3.1/BlazorApp.dll
src/bin/Debug/netcoreapp3.1/BlazorApp.exe
src/bin/Debug/netcoreapp3.1/BlazorApp.pdb
src/bin/Debug/netcoreapp3.1/BlazorApp.runtimeconfig.dev.json
src/bin/Debug/netcoreapp3.1/BlazorApp.runtimeconfig.json
src/bin/Debug/netcoreapp3.1/BlazorApp.StaticWebAssets.xml
src/bin/Debug/netcoreapp3.1/BlazorApp.Views.dll
src/bin/Debug/netcoreapp3.1/BlazorApp.Views.pdb
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
src/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
src/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
src/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
src/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
src/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
src/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
src/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
src/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
src/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
src/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
src/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
src/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
src/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
src/bin/Debug/netcoreapp3.1/System.Text.Json.dll
src/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
src/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
src/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
src/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
src/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
src/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
src/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
src/obj/BlazorApp.csproj.nuget.dgspec.json
src/obj/BlazorApp.csproj.nuget.g.props
src/obj/BlazorApp.csproj.nuget.g.targets
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/obj/Debug/netcoreapp3.1/BlazorApp.AssemblyInfo.cs
src/obj/Debug/netcoreapp3.1/BlazorApp.AssemblyInfoInputs.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.assets.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.csproj.CopyComplete
src/obj/Debug/netcoreapp3.1/BlazorApp.csproj.CoreCompileInputs.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.csproj.FileListAbsolute.txt
src/obj/Debug/netcoreapp3.1/BlazorApp.csprojAssemblyReference.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.dll
src/obj/Debug/netcoreapp3.1/BlazorApp.exe
src/obj/Debug/netcoreapp3.1/BlazorApp.genruntimeconfig.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.MvcApplicationPartsAssemblyInfo.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.MvcApplicationPartsAssemblyInfo.cs
src/obj/Debug/netcoreapp3.1/BlazorApp.pdb
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorAssemblyInfo.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorAssemblyInfo.cs
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorComponent.input.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorCoreGenerate.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorTargetAssemblyInfo.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.RazorTargetAssemblyInfo.cs
src/obj/Debug/netcoreapp3.1/BlazorApp.TagHelpers.input.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.TagHelpers.output.cache
src/obj/Debug/netcoreapp3.1/BlazorApp.Views.dll
src/obj/Debug/netcoreapp3.1/BlazorApp.Views.pdb
src/obj/Debug/netcoreapp3.1/project.razor.json
src/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/LogOut.cshtml.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Shared/_LoginPartial.cshtml.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Pages/Counter.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Pages/FetchData.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Shared/LoginDisplay.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
src/obj/Debug/netcoreapp3.1/Razor/Shared/SurveyPrompt.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorApp.dll
src/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorApp.pdb
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/LoginDisplay.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
src/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
src/obj/Debug/netcoreapp3.1/staticwebassets/BlazorApp.StaticWebAssets.Manifest.cache
src/obj/Debug/netcoreapp3.1/staticwebassets/BlazorApp.StaticWebAssets.xml
test/bin/Debug/netcoreapp3.1/app.db
test/bin/Debug/netcoreapp3.1/appsettings.Development.json
test/bin/Debug/netcoreapp3.1/appsettings.json
test/bin/Debug/netcoreapp3.1/BlazorApp.dll
test/bin/Debug/netcoreapp3.1/BlazorApp.exe
test/bin/Debug/netcoreapp3.1/BlazorApp.pdb
test/bin/Debug/netcoreapp3.1/BlazorApp.StaticWebAssets.xml
test/bin/Debug/netcoreapp3.1/BlazorApp.Test.deps.json
test/bin/Debug/netcoreapp3.1/BlazorApp.Test.dll
test/bin/Debug/netcoreapp3.1/BlazorApp.Test.pdb
test/bin/Debug/netcoreapp3.1/BlazorApp.Test.runtimeconfig.dev.json
test/bin/Debug/netcoreapp3.1/BlazorApp.Test.runtimeconfig.json
test/bin/Debug/netcoreapp3.1/BlazorApp.Views.dll
test/bin/Debug/netcoreapp3.1/BlazorApp.Views.pdb
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
test/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
test/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
test/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
test/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
test/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
test/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
test/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
test/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
test/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
test/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
test/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
test/bin/Debug/netcoreapp3.1/System.Text.Json.dll
test/bin/Debug/netcoreapp3.1/testhost.dll
test/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
test/bin/Debug/netcoreapp3.1/xunit.assert.dll
test/bin/Debug/netcoreapp3.1/xunit.core.dll
test/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
test/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
test/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
test/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
test/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
test/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
test/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
test/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
test/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/obj/BlazorApp.Test.csproj.nuget.dgspec.json
test/obj/BlazorApp.Test.csproj.nuget.g.props
test/obj/BlazorApp.Test.csproj.nuget.g.targets
test/obj/project.assets.json
test/obj/project.nuget.cache
test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.AssemblyInfo.cs
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.AssemblyInfoInputs.cache
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.assets.cache
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.csproj.CopyComplete
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.csproj.CoreCompileInputs.cache
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.csproj.FileListAbsolute.txt
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.csprojAssemblyReference.cache
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.dll
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.genruntimeconfig.cache
test/obj/Debug/netcoreapp3.1/BlazorApp.Test.pdb
